{% extends 'base.html' %}

{% load static %}

{% block title %}Painel{% endblock %}

{% block main %}
    <div class="center-image">
        <img src="{% static 'img/logo.png' %}">
    </div>
    <h1>Total vendido hoje: R${{ total_vendido_hoje }}</h1><br>
    <h1>Itens mais vendidos:</h1>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for produto, quantidade in produtos_mais_consumidos_hoje %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ quantidade }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Produtos com Baixo Estoque</h1>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Disponível</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos_baixo_estoque %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.estoque.quantidade }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}