{% extends 'base.html' %}

{% block title %}Compras{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Colaborador</th>
                <th>Data</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
                <tr>
                    <td>{{ compra.colaborador.nome }}</td>
                    {% for produto in compra.produtos.all %}
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.preco }}</td>
                    {% endfor %}
                    <td>{{ compra.data }}</td>
                    <td>
                        <form method="post" action="{% url 'excluir_compra' compra.id %}">
                            {% csrf_token %}
                            <input type="submit" value="Excluir">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>

        </tfoot>
    </table>
{% endblock %}