{% extends 'base/base.html' %}

{% block title %}Compras{% endblock %}

{% block main %}
    <h1>Compras</h1>
    <br>
    <input type="text" id="searchInput" placeholder="Filtrar por colaborador" style="display: block; margin: 0 auto;">
    <table>
        <thead>
            <tr>
                <th>Colaborador</th>
                <th>Data</th>
                <th>Total</th>
                <th>Itens</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for compra, valor in compras_valores.items %}
                <tr data-data="{{ compra.colaborador.nome }}">
                    <td>{{ compra.colaborador.nome }}</td>
                    <td>{{ compra.data }}</td>
                    <td>R$ {{ valor }}</td>
                    <td>
                        <a href="{% url 'visualizar_compra_produtos' compra.pk %}">
                            <i class='bx bx-show-alt' ></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'excluir_compra' compra.pk %}">
                            <i class='bx bxs-trash' ></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}