{% extends 'base/base.html' %}

{% block title %}Cadastrar{% endblock %}

{% block main %}
    <h1>Cadastrar</h1>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="errorlist">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            <input type="button" value="Voltar" onclick=history.go(-1)>
            <input type="submit" value="Confirmar">
        </form>
    </div>
{% endblock %}
