{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <main>
        <form method="post" action="{% url 'adicionar_produto' %}">
            {% csrf_token %}
            <input type="text" name="codigo_barras" maxlength="13" placeholder="Código de Barras">
            <input type="submit" value="Adicionar no Carrinho">
        </form>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in carrinho %}
                    <tr>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.preco }}</td>
                        <td>
                            <form method="post" action="{% url 'remover_produto' forloop.counter %}">
                                {% csrf_token %}
                                <input type="submit" value="Remover">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>{{ total }}</td>
                    <td>
                        <form method="post" action="{% url 'limpar_carrinho' %}">
                            {% csrf_token %}
                            <input type="submit" value="Limpar">
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="btn">
            <button id="finalizar_btn">Finalizar Compra</button>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <button id="consultar_btn">Consultar Gastos</button>
        </div>
        <div class="modal" id="finalizar_modal">
            <div class="modal-content">
                <span class="close" id="fechar_modal1">&times;</span><br><br>
                <form method="post" action="{% url 'finalizar_compra' %}">
                    {% csrf_token %}
                    <input type="text" name="login" placeholder="Login">
                    <input type="password" name="senha" placeholder="Senha">
                    <input type="submit" value="Finalizar">
                </form>
            </div>
        </div>
        <div class="modal" id="consultar_modal">
            <div class="modal-content">
                <span class="close" id="fechar_modal2">&times;</span><br><br>
                <form method="post" action="{% url 'consultar_gastos' %}">
                    {% csrf_token %}
                    <input type="text" name="login" placeholder="Login">
                    <input type="password" name="senha" placeholder="Senha">
                    <input type="submit" value="Consultar">
                </form>
            </div>
        </div>
        {% if total_gasto %}
            <div class="modal" id="total_gasto_modal" style="display: block;">
                <div class="modal-content">
                    <span class="close" id="fechar_modal3">&times;</span><br><br>
                    <h1>Total gasto: {{ total_gasto }}</h1>
                </div>
            </div>
        {% endif %}
    </main>
    <script src="{% static 'js/carrinho.js' %}"></script>
</body>
</html>