{% extends 'base.html' %}

{% block title %}Usuários{% endblock %}

{% block main %}
    <h1>Usuários</h1>
    <a href="{% url 'cadastrar_usuario' %}">Cadastrar Usuário</a>
    <table>
        <thead>
            <tr>
                <th>Nome de Usuário</th>
                <th>Email</th>
                <th>Nome</th>
                <th>Administrador</th>
                <th>Último Login</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr onclick="redirectToView('{{ usuario.username }}')">
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
                    <td>{{ usuario.is_superuser }}</td>
                    <td>{{ usuario.last_login }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        
        </tfoot>
    </table>
{% endblock %}