{% extends 'base.html' %}

{% block title %}Usuários{% endblock %}

{% block main %}
    <form method="post" action="{% url 'cadastrar_usuario' %}">
        {% csrf_token %}
        <input type="text" name="nome_usuario" placeholder="Nome de Usuário" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="nome" placeholder="Nome" required>
        <input type="text" name="sobrenome" placeholder="Sobrenome" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <input type="submit" value="Cadastrar">
    </form>
    {% for message in messages %}
        <div class="erro">
            {{ message }}
        </div>
    {% endfor %}
    <table>
        <thead>
            <tr>
                <th>Nome de Usuário</th>
                <th>Email</th>
                <th>Nome</th>
                <th>Administrador</th>
                <th>Último Login</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr onclick="redirectToView('{{ usuario.username }}')">
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
                    <td>{{ usuario.is_superuser }}</td>
                    <td>{{ usuario.last_login }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        
        </tfoot>
    </table>
{% endblock %}