{% extends 'base.html' %}

{% block title %}Usuários{% endblock %}

{% block main %}
    <form method="post" action="{% url 'cadastrar_usuario' %}">
        {% csrf_token %}
        <input type="text" name="nome_usuario" placeholder="Nome de Usuário">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="nome" placeholder="Nome">
        <input type="text" name="sobrenome" placeholder="Sobrenome">
        <input type="password" name="senha" placeholder="Senha">
        <input type="submit" value="Cadastrar">
    </form>
    <table>
        <thead>
            <tr>
                <th>Nome de Usuário</th>
                <th>Email</th>
                <th>Nome</th>
                <th>Administrador</th>
                <th>Último Login</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
                    <td>{{ usuario.is_superuser }}</td>
                    <td>{{ usuario.last_login }}</td>
                    <td>
                        <form method="get" action="{% url 'editar_usuario' usuario.username %}">
                        {% csrf_token %}
                        <input type="submit" value="Editar">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{% url 'excluir_usuario' usuario.username %}">
                        {% csrf_token %}
                        <input type="submit" value="Excluir">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        
        </tfoot>
    </table>
{% endblock %}