{% extends 'base.html' %}

{% load static %}

{% block title %}Estoque{% endblock %}

{% block main %}
    <h1>Estoque</h1>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Disponível</th>
                <th>Aumentar</th>
                <th>Diminuir</th>
            </tr>
        </thead>
        <tbody>
            {% for estoque in estoques %}
                <tr>
                    <td>{{ estoque.produto.nome }}</td>
                    <td>{{ estoque.quantidade }}</td>
                    <td>
                        <a href="{% url 'aumentar_estoque' estoque.pk %}">
                            <i class='bx bxs-plus-circle'></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'diminuir_estoque' estoque.pk %}">
                            <i class='bx bxs-minus-circle'></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}