{% extends 'base/base.html' %}

{% block title %}Colaboradores{% endblock %}

{% block main %}
    <h1>Colaboradores</h1>
    <a href="{% url 'cadastrar_colaborador' %}">Cadastrar Colaborador</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Idade</th>
                <th>Login</th>
                <th>Ativo</th>
                <th>Editar</th>
                <th>Alterar Senha</th>
            </tr>
        </thead>
        <tbody>
            {% for colaborador in colaboradores %}
                <tr>
                    <td>{{ colaborador.nome }}</td>
                    <td>{{ colaborador.email }}</td>
                    <td>{{ colaborador.cpf_formatado }}</td>
                    <td>{{ colaborador.idade }}</td>
                    <td>{{ colaborador.login }}</td>
                    <td>
                        {% if colaborador.situacao == 'ativo' %}
                            <label class="switch" onclick="redirectToUrl('{{ colaborador.login }}/alterar-situacao/')">
                                <input type="checkbox">
                                <span class="slideron round"></span>
                            </label>
                        {% else %}
                            <label class="switch" onclick="redirectToUrl('{{ colaborador.login }}/alterar-situacao/')">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'editar_colaborador' colaborador.login %}">
                            <i class='bx bxs-edit-alt'></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'editar_senha_colaborador' colaborador.login %}">
                            <i class='bx bxs-lock' ></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
