{% extends 'base.html' %}

{% block title %}Colaboradores{% endblock %}

{% block main %}
    <h1>Colaboradores</h1>
    <a href="{% url 'cadastrar_colaborador' %}">Cadastrar</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Login</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            {% for colaborador in colaboradores %}
                <tr onclick="redirectToView('{{ colaborador.login }}')">
                    <td>{{ colaborador.nome }}</td>
                    <td>{{ colaborador.email }}</td>
                    <td>{{ colaborador.cpf }}</td>
                    <td>{{ colaborador.login }}</td>
                    <td>{{ colaborador.situacao }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
