{% extends 'base/base.html' %}

{% load static %}

{% block title %}Emails{% endblock %}

{% block main %}
    <h1>Emails</h1>
    <div class="form-container">
        <form method="post" action="{% url 'enviar_email' %}">
            {% csrf_token %}
            <input type="text" name="destinatario" placeholder="Destinatário">
            <input type="text" name="assunto" placeholder="Assunto">
            <input type="text" name="mensagem" placeholder="Mensagem">
            <input type="submit" value="Enviar">
        </form>
    </div>
{% endblock %}