{% extends 'base/base.html' %}

{% load static %}

{% block title %}Emails{% endblock %}

{% block main %}
    <h1>Enviar Emails</h1>
    <div class="form-container">
        <form method="post" action="{% url 'enviar_email' %}">
            {% csrf_token %}
            <label for="object_dropdown">Destinatário:</label>
            <select id="object_dropdown" name="destinatario">
                {% for colaborador in colaboradores %}
                    <option value="{{ colaborador.email }}">{{ colaborador.nome }}</option>
                {% endfor %}
            </select>
            <input type="text" name="assunto" placeholder="Assunto">
            <textarea name="mensagem" placeholder="Mensagem"></textarea>
            <input type="submit" value="Enviar">
        </form>
    </div>
{% endblock %}