{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>

    </header>
    <nav>
        <ul>
            <li><a href="{% url 'visualizar_painel' %}">Painel</a></li>
            <li><a href="{% url 'visualizar_colaboradores' %}">Colaboradores</a></li>
            <li><a href="{% url 'visualizar_produtos' %}">Produtos</a></li>
            {% if request.user.is_superuser %}
                <li><a href="{% url 'visualizar_usuarios' %}">Usuários</a></li>
            {% endif %}
            {% if request.user.is_superuser %}
                <li><a href="{% url 'visualizar_compras' %}">Compras</a></li>
            {% endif %}
            <li><a href="{% url 'sair' %}">Sair</a></li>
        </ul>
    </nav>
    <main>
        {% block main %}
            
        {% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>