{% extends 'base.html' %}

{% block title %}Editar Produto{% endblock %}

{% block main %}
    <form method="post" action="{% url 'editar_produto' produto.codigo_barras %}">
        {% csrf_token %}
        <input type="text" value="{{ produto.nome }}" name="nome" placeholder="Nome">
        <input type="text" value="{{ produto.codigo_barras }}" name="codigo_barras" maxlength="13" placeholder="Código de Barras">
        <input type="number" step="0.01" value="{{ produto.preco }}" name="preco" placeholder="Preço">
        <input type="submit" value="Editar">
    </form>
    <form method="post" action="{% url 'excluir_produto' produto.codigo_barras %}">
        {% csrf_token %}
        <input type="submit" value="Excluir">
    </form>
    <a href="{% url 'visualizar_produtos' %}">Voltar</a>
    {% for message in messages %}
        <div class="erro">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}