{% extends 'base.html' %}

{% block title %}Produtos{% endblock %}

{% block main %}
    <h1>Produtos</h1>
    <a href="{% url 'cadastrar_produto' %}">Cadastrar Produto</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Código de Barras</th>
                <th>Preço</th>
                <th>Situação</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr onclick="redirectToView('{{ produto.codigo_barras }}')">
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.codigo_barras }}</td>
                    <td>{{ produto.preco }}</td>
                    <td>{{ produto.situacao }}</td>
                    <td>{{ produto.tipo }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>

        </tfoot>
    </table>
{% endblock %}