{% extends 'base/base.html' %}

{% block title %}Painel{% endblock %}

{% block main %}
    <h1>Gerar Relatórios</h1>
    <div class="form-container">
        <h2>Total Mensal:</h2>
        <form method="get" action="{% url 'gerar_total_mensal' %}">
            {% csrf_token %}
            <input type="submit" value="Gerar total mensal">
        </form>
    </div>
    <br><br><br>
    <div class="form-container">
        <h2>Consumo Geral:</h2>
        <form method="get" action="{% url 'gerar_consumo_geral' %}">
            {% csrf_token %}
            <label for="data">De:</label>
            <input type="datetime-local" id="data" name="data" required>
            <label for="dataa">Até:</label>
            <input type="datetime-local" id="dataa" name="dataa" required>
            <input type="submit" value="Gerar consumo geral">
        </form>
    </div>
{% endblock %}