<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
</head>
<body>
    <form method="post" action="{% url 'editar_produto' produto.id %}">
        {% csrf_token %}
        <input type="text" value="{{ produto.nome }}" name="nome" placeholder="Nome">
        <input type="text" value="{{ produto.codigo_barras }}" name="codigo_barras" placeholder="Código de Barras">
        <input type="number" step="0.01" value="{{ produto.preco }}" name="preco" placeholder="Preço">
        <input type="submit" value="Editar">
        <a href="{% url 'produtos' %}">Cancelar</a>
    </form>
</body>
</html>