<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <a href="{% url 'painel' %}">Painel</a>
    <a href="{% url 'colaboradores' %}">Colaboradores</a>
    <a href="{% url 'produtos' %}">Produtos</a>
    <a href="{% url 'sair' %}">Sair</a>
    <form method="post" action="{% url 'cadastrar_produto' %}">
        {% csrf_token %}
        <input type="text" name="nome" placeholder="Nome">
        <input type="text" name="codigo_barras" placeholder="Código de Barras">
        <input type="number" step="0.01" name="preco" placeholder="Preço">
        <input type="submit" value="Cadastrar">
    </form>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Código de Barras</th>
                <th>Preço</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.codigo_barras }}</td>
                    <td>{{ produto.preco }}</td>
                    <td>
                        <form method="get" action="{% url 'editar_produto' produto.id %}">
                            {% csrf_token %}
                            <input type="submit" value="Editar">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{% url 'excluir_produto' produto.id %}">
                            {% csrf_token %}
                            <input type="submit" value="Excluir">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</body>
</html>