{% extends 'base.html' %}

{% load static %}

{% block title %}Emails{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade Disponível</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.product.nome }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}