{% extends 'base/base.html' %}

{% block title %}Movimentações{% endblock %}

{% block main %}
    <h1>Movimentações</h1>
    <br>
    <input type="text" id="searchInput" placeholder="Filtrar por produto" style="display: block; margin: 0 auto;">
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Usuário</th>
                <th>Quantidade</th>
                <th>Data</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            {% for movimentacao in movimentacoes %}
                <tr data-data="{{ movimentacao.produto.nome }}">
                    <td>{{ movimentacao.produto.nome }}</td>
                    <td>{{ movimentacao.usuario.username }}</td>
                    <td>{{ movimentacao.quantidade }}</td>
                    <td>{{ movimentacao.data }}</td>
                    <td>{{ movimentacao.get_tipo_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}