<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Colaborador</title>
</head>
<body>
    <form method="post" action="{% url 'editar_colaborador' colaborador.login %}">
        {% csrf_token %}
        <input type="text" value="{{ colaborador.nome }}" name="nome" placeholder="Nome">
        <input type="text" value="{{ colaborador.cpf }}" name="cpf" placeholder="CPF">
        <input type="text" value="{{ colaborador.login }}" name="login" placeholder="Login">
        <input type="password" name="senha" placeholder="Senha">
        <input type="submit" value="Editar">
        <a href="{% url 'colaboradores' %}">Cancelar</a>
    </form>
</body>
</html>